*.o
*~
.DS_Store
._*
Makefile.in
.deps
.libs
*.Po
*.o
*.la
*.lo
*.so
*.a
ar-lib
libtool.m4
lt*.m4
aclocal.m4
autom4te.cache
compile
config.*
configure
install-sh
ltmain.sh
missing
depcomp
stamp-h1
Makefile
aclocal.m4
docs
